*{
    font-family: "Fredoka", sans-serif;
    font-style: normal;
    font-weight: 600;
}

body {
  background: linear-gradient(to bottom, #d5f2ff, #ffffff);
  font-family: "Fredoka", sans-serif;
}

#container-header{
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;

}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  position: relative;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}


#advanced-research{
  visibility: hidden;
}


#super-research {
  font-size: 3.5rem !important;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
}


#super-research:hover{
  color: red;
}


#title {
  text-align: center;
  font-size: 2rem;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  right: 20rem;  
}


/* stile icona */

#icon {
  width: 7rem;
  height: 7rem;
  background-image: url('img/immagine_2025-03-26_011934561.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(4px 4px 1px black);
  cursor: pointer;
  padding: 10px;
  z-index: 10000;
}


/* div della barra di ricerca */


#search{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin-top: 6rem;
    
}

.search-box {
    position: relative;
    width: 70%;
}

#search-input{
   height: 3rem;
   width: 100%;
   border: 2px solid black;
   border-radius: 40px;
   font-size: 20px;
   overflow: hidden;
    position: relative;
    padding: 10px 60px 10px 12px;
    box-sizing: border-box;
    outline: none;
    transition: border-color .3s ease, background-color .3s ease, box-shadow .3s ease;
    box-shadow: 2px 4px 1px #000000;
    bottom: 20px;
}

#search-input:focus{
    border-color: #f4dc26;
    background-color: #f0f8ff;
    box-shadow:2px 4px 1px #52480d; 
}

#search-input::placeholder{
  font-style: italic;
  opacity: 0.7;
}

#search-btn{
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 10%;
    transform: translateY(-50%);
    transition: color .3s ease;
}

#search-btn:hover{
    color: red;
}

.material-icons{
  font-size: 35px !important;
}


#surprise-me{
  box-shadow: 2px 3px 1px black;
  background: white;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

@keyframes bop {
  0%, 100%{transform: scale(1);}
  50%{transform: scale(1.15);}
}

#surprise-me:hover{
  transform: scale(1.05);
  background-color: rgba(255, 0, 0, 1);
}
#surprise-me.bop{
  animation: bop ease .3s;
}

#shuffle-title{
  margin: 0;
  font-size: 20px;
}


/* spinner poke */

#pokeball-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    visibility: hidden;
    z-index: 10000;
}

.pokeball {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50% ;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: rotate .8s  linear 0s infinite;
  }

  #wrapper {
    animation:pulse .8s ease-in-out alternate infinite ;
    position: absolute;
  }
  
  .pokeball:after{
    content: '';
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-bottom: 4px solid;
    top: -4px
  }
  
  .pokeball:before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 10px;
    height:10px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 21.5px;
    right: 21px;
    z-index: 1;
  }
  
  /* AnimationFrames */
  @keyframes rotate{
    0% {
      transform: rotate(0deg) ;
    }
    
    100%{
      transform: rotate(360deg) ;
    }
  }

  @keyframes pulse {
    0% {
        transform:  scale(1);
      }
      
      100%{
        transform:  scale(1.1) ;
      }
  }


  /* pokemon card */
  #pokebox {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: 5rem auto;
    gap: 20px;
    min-height: 300px;
  }

  #pokebox.hidden{
    filter: blur(5px);
  }


  .Poke-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: row;
    width: 250px;
    height: 15rem;
    background: linear-gradient(135deg, #f2fbff, #d2e9f9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
  }

  
  .Poke-container:hover{
    transform: scale(1.03);
    background: linear-gradient(135deg, #d0f2e2, #b8dfce);
  }


  .Poke-container.clicked{
    width: 45rem;
    gap: 20px;
  }

  .Poke-container.clicked img{
    width: 5rem;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .statsDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 10px;
    border-left: 1px dashed black; 
    
  }

  .Poke-container img {
    width: 5rem;
    height: auto;
  }

  @keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  .Poke-container p {
    animation: fade ease-in-out 2s;
    text-transform: capitalize;
    font-size: 20px;
    background-color: white;
    color: #333;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 12px;
    margin: 5px;
    border: 2px solid #000;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    transition: transform .2s ease;
  }

  
.Poke-container p:hover {
  transform: scale(1.05);
  background-color: #f9f871;
  box-shadow: 0 0 10px #f4dc26;
}
  
.Poke-container h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #222;
  margin-top: 10px;
  text-align: center;
  text-shadow: 1px 1px 0 white;
  text-transform: capitalize;
}
  
.Poke-container h3 {
  font-size: 20px;
  color: #222;
  text-align: center;
  text-shadow: 1px 1px 0 white;
  text-transform: capitalize;
  position: absolute;
  left: 30px;
  top: 5px;
}

/* colori in base al tipo */

:root {
  --type-fire: #e62829;
  --type-water: #297fef;
  --type-grass: #43a129;
  --type-electric: #fac000f1;
  --type-psychic: #ef4178b7;
  --type-fairy: #ef70ef;
  --type-ice: #3dcef3;
  --type-rock: #afa981;
  --type-dark: #624d4e;
  --type-bug: #90a018;
  --type-steel: #60a1b8;
  --type-poison: #8f40ccb2;
  --type-ghost: #704170;
  --type-dragon: #5060e0;
  --type-ground: #915221b4;
  --type-normal: rgb(160, 160, 160);
  --type-fighting: #ff8000;
  --type-flying: #81baefc0;
  --type-base: #f2fbff;
}

 
  /* il notfound div */


  .notfound {
    visibility: hidden;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    transition: opacity .5s ease;
  }

  .notfound.visible {
    visibility: visible;
    opacity: 1;
  }

  .notfound img {
    margin: 0;
    width: 40rem;
    height: auto;
  }

  .notfound p {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 100px;
  }


/* bottone scroll */

@keyframes upUp {
  0%, 100%   { transform: translateY(0); }
  50%        { transform: translateY(-10px); }
}



#scroll-button{
  border: #000000 solid 2px;
  border-radius: 40px;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  box-shadow:2px 4px 1px black;
  transition: all .3s ease;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transform: translateY(50vh);
  visibility: hidden;
  background-color: linear-gradient(to bottom, #cceeff, #ffffff);
}

#scroll-button.scrolled {
  transform: translateY(-0vh);
  visibility: visible;
}

#scroll-button:hover{
  color: red;
  animation: infinite ease-in-out 2.0s upUp;
}

/* sidebar */

#sidebar{
  background-color: #222;
  color: white;
  height: 100%;
  width: 500px;
  right: -50rem;
  transition: right .3s ease-in-out;
  position: fixed;
  padding: 20px;
  z-index: 1000000;
  top: 0;
}

#sidebar.open{
  right: 0;
}

#sidebar ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 20px;
}

#sidebar li{
  cursor: pointer;
  transition: all .3s ease-in-out;
}

#sidebar li.clicked{
  filter: drop-shadow(0 0 5px white);
  transform: scale(1.05);
}

#sidebar button {
  position: absolute;
  left: 14.1rem;
  margin-top: 2rem;
  box-shadow: 2px 5px 1px black;
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: none;
}
#sidebar button:hover{
  transform: scale(1.05);
  background: red;
  color: white;
  box-shadow: none;
}

.overlay{
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  
  z-index: 1000;
}

.overlay.shown{
  display: block;
}

#firma{
  display: flex;
  font-size: 23px;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#firma a{
  margin: 0 5px;
}

@media (max-width: 768px) {

  /* HEADER */
  #container-header {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }

  header {
    flex-direction: row;
    padding: 0 10px;
  }

  #title {
    font-size: 1.5rem;
    right: 0;
    position: static;
    flex-grow: 0;
  }

  #icon {
    width: 4rem;
    height: 4rem;
  }

  #super-research {
    font-size: 2rem !important;
  }

  /* SEARCH BAR */
  #search {
    margin-top: 3rem;
  }

  .search-box {
    width: 90%;
  }

  #search-input {
    font-size: 1rem;
  }

  /* POKEBOX */
  #pokebox {
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem auto;
  }

  .Poke-container {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 1rem;
  }

  .Poke-container.clicked {
    width: 95%;
    flex-direction: column;
  }

  .Poke-container h2 {
    font-size: 1rem;
  }

  .Poke-container h3 {
    font-size: 1rem;
    left: 10px;
    top: 10px;
  }

  .Poke-container img {
    width: 4rem;
  }

  .Poke-container p {
    font-size: 1rem;
  }

  /* SIDEBAR */
  #sidebar {
    width: 100%;
    right: -100rem;
  }

  #sidebar.open {
    right: 0;
  }

  #sidebar button {
    left: 11.5rem;
    font-size: 1.5rem;
    font-size: 30px;
  }

  #sidebar ul {
    flex-flow: row wrap ;
    gap: 10px;
  }
  #sidebar img{
    width: 10rem;
  }

  /* SCROLL BUTTON */
  #scroll-button {
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
  }

  /* NOT FOUND */
  .notfound img {
    width: 90%;
  }

  .notfound p {
    font-size: 1.2rem;
    bottom: 2rem;
  }

  /* FIRMA */
  #firma {
    font-size: 1rem;
    flex-direction: column;
    text-align: center;
  }
}

